<form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      Username:
      <input type="text" formControlName="username">
    </label>
  </div>

  <div class="form-group">
    <label>
      email:
      <input type="text" formControlName="email">
    </label>
  </div>

  <div class="form-group">
    <label>
      Billing Info:
      <input type="text" formControlName="billing_info">
    </label>
  </div>

  <div formArrayName="children">
    <div *ngFor="let kids of children.controls; let i=index">
      Child {{i + 1}}:
      <div [formGroupName]="i">
        <div class="form-group">
          <label>
            UserName:
            <input formControlName="name">
          </label>
        </div>
        <div class="form-group">
          <label>
            email:
            <input type="text" formControlName="email">
          </label>
        </div>
        <div [formGroup]="kids.controls.perms">
          <div *ngFor="let perm of permissions;">
            <label>{{perm}} </label>
            <input type="checkbox" formControlName="{{perm}}">
          </div>
        </div>
      </div>
    </div>
  </div>

<div>Assets To Approve:</div>
  <div formArrayName="asset_approval">
    <div *ngFor="let asset of asset_approval.controls; let i=index">
      <div [formGroupName]="i">
        <label>{{assetMetaData[i].asset_name}}"</label>
        <label>{{assetMetaData[i].asset_temp_name}}</label>
        <input type="checkbox" formControlName="{{asset}}">
      </div>
    </div>
  </div>
  
  <div><input type="submit"></div>
</form>