<form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      Username:
      <input type="text" class="form-control" formControlName="username">
    </label>
  </div>

  <div class="form-group">
    <label>
      email:
      <input type="text" class="form-control" formControlName="email">
    </label>
  </div>

  <div class="form-group">
    <label>
      Billing Info:
      <input type="text" class="form-control" formControlName="billing_info">
    </label>
  </div>

  <div formArrayName="children">
    <div *ngFor="let kids of children.controls; let i=index">
      Child {{i + 1}}:
      <div [formGroupName]="i">
        <div class="form-group">
          <label>
            UserName:
            <input  class="form-control" formControlName="name">
          </label>
        </div>
        <div class="form-group">
          <label>
            email:
            <input  class="form-control" type="text" formControlName="email">
          </label>
        </div>
        <div [formGroup]="kids.controls.perms">
          <div *ngFor="let perm of permissions;">
            <label>{{perm}} </label>
            <input type="checkbox"  class="form-control" formControlName="{{perm}}" >
          </div>
        </div>
      </div>
    </div>
  </div>

<div>Assets To Approve:</div>
  <div *ngIf=" assetMetaData.length > 0 " formArrayName="asset_approval">
    <div *ngFor="let asset of asset_approval.controls; let j=index">
      <div [formGroupName]="j">
        <div class="form-group">
          <label>{{assetMetaData[j].asset_name}} </label>
          <img src="api/asset.php?id={{assetMetaData[j].solution_id}}" height="50" width="50"/>
          <br>
          <input type="checkbox"  class="form-control" formControlName="{{assetMetaData[j].asset_name}}">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="assetMetaData.length <= 0">
    No assets need approval 
  </div>
  
  <div><input  class="form-control" type="submit"></div>
</form>